<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <header id="header" class="header">
        <a href="/">Login</a> |
        <a href="/employees">Employees</a> |
        <a href="/users">Users</a>
    </header>
    <hr>
  <h1>Add New Employee</h1>

  <form action="/employees/add" method="post">
      <label for="name">Name:</label><br>
      <input type="name" id="name" name="name"><br>

      <label for="address">Address:</label><br>
      <input type="address" id="address" name="address"><br>

      <label for="salary">Salary:</label><br>
      <input type="salary" id="salary" name="salary"><br>

      <label for="role">Role:</label><br>
      <input type="role" id="role" name="role"><br>

      <input type="submit" value="Submit">
  </form>

  <script src="employees.js"></script>
      
    </body>
</html>
